<%# A linha abaixo carrega no template o conteúdo total do arquivo header.ejs%>
<%-include('base_header') -%>
<ul>
   <li> <strong>Nome:</strong> Anderson Lira</li>
   <li> <strong>Idade:</strong> 38 Anos</li>
   <li> <strong>Formação:</strong> Técnico Mecatrônico - ETEP | Tecnologo em Analíse e Desenvolvimento de Sistemas - FATEC - sjc</li>
   <li> <strong>Experiências:</strong> Embraer SA. | Johnson & Johnson</li>  
</ul>
  
<%# A linha abaixo carrega no template o conteúdo total do arquivo footer.ejs %>
<%- include('base_footer') -%> 